@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MvcBookManager App</h1>
    <p>Made by <a href="https://github.com/ojuliomiguel">Júlio Miguel</a>.</p>
    <p>References <a href="https://docs.microsoft.com/en-us/aspnet/core">ASP.NET documentation</a>.</p>

</div>
